<% layout('adminlayout') %>
<div class="row">
  <div class="medium-5 columns medium-offset-1" style="margin-top:2%">
    <% include ../partials/flash %>
  </div>
  <div class="medium-3 columns medium-offset-1 " style="margin-top:2%">
    <a class="large button success " href="/newevent">Create Event</a>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <div class="callout">
      <div><h3>Current Events</h3></div>
      <div class="callout secondary">
        <table style="width: 100%">
            <thead>
              <tr>
                <th>Event No.</th>
                <th>Title</th>
                <th>Venue</th>
                <th>Date</th>
                <th>Time</th>
                <th>Description</th>
                <th>Options</th>
              </tr>
            </thead>
            <tbody>
              <% events.forEach(function(event, index){ %>
                <% date = new Date( event.date)%>
              <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><%= event.title %></td>
                <td><%= event.venue %></td>
                <td><%= date.toDateString()%></td>
                <td><%= event.time %></td>
                <td><%= event.description %></td>
                <td>
                  <ul class="menu">
                    <li><a href="editevent/<%=event.slug%>" title="Edit"> Edit<i class="fa fa-pencil-square-o "
						 aria-hidden="true"></i> </a></li>
                    <li><a href="#" title="Delete" data-open="<%=event.slug%>"> Delete<i class="fa fa-trash "
						 aria-hidden="true"></i></a>


					<form action="/deleteEvent/<%=event.slug%>" class="reveal" id="<%=event.slug%>" data-reveal>
					  <p class="lead">
						<i class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i>
						You're about to delete <span style="color :#669900;"> <%=event.title %> </span>
						 event, confirm deletion below
					</p>
					  <div class="button-group" align="center">
						
					  <button class="button success" data-close aria-label="Close modal" type="button">
						Cancel 
					  </button>
					  <button class="button alert" type="submit">
					<i class="fa fa-trash-o fa-lg"></i>	Delete
					  </button>
					  </div>
					  <button class="close-button" data-close aria-label="Close modal" type="button">
						<span aria-hidden="true">&times;</span>
					  </button>
					</form>
					</li>
                  </ul>
                </td>
              </tr>
              <%});%>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
